{% for row in table_data %}
<div class="container">
    <h1 id="property_name">{{ row.Property_Name }}</h1>
    <h1 id="customer_id" hidden>{{ row.Customer }}</h1>
    <div class="row">
        <div class="col-sm text-left">
            <h6>Address: {{ row.Street }}, {{ row.City }}, {{ row.State }}, {{ row.Zip }}</h6>
            <h6 id="owner_id">Owner Contact Info: {{ row.Owner_Email }}</h6>
            <br>
            <h6 class="font-weight-bold">Description:</h6>
            <h6>{{ row.Descr }}</h6>
        </div>
        <div class="col-sm text-left">
            {% if tableType == 1 %}
            <h6 class="font-weight-bold">Reservation Details</h6>
            <h6>Dates: {{ row.Start_Date }} to {{ row.End_Date }}</h6>
            <h6>Number of Guests: {{ row.Num_Guests }}</h6>
            <br>
            <h6>Estimated Refund: ${{ '%0.2f'|format(((row.End_Date - row.Start_Date).days|float)*(row.Cost|float)*0.8) }}</h6>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}