{% extends "layout.html" %}
{% block content %}
{% for row in userdata %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
            {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Welcome back, {{ row.First_Name }} {{ row.Last_Name }}</h1>
    <h3>We'll figure out what we want to put here soon!</h3>
    <hr/>
    <h3>Today's Date: {{ current_date }}</h3>
    {% if adminAccess %}
    <button type="button" class="btn btn-warning me-2" data-toggle="modal" data-target="#modal-system-date">Set System Date</button>
    {% endif %}
    <hr/>
    <div class="row">
        <div class="col-sm text-left">
            <h5>Account Permissions:</h5>
            {% if adminAccess %}
            <h6>- Admin</h6>
            {% endif %}
            {% if ownerAccess %}
            <h6>- Owner</h6>
            {% endif %}
            {% if customerAccess %}
            <h6>- Customer</h6>
            {% endif %}
        </div>
        {% if ownerAccess %}
        <div class="col-sm text-left">
            <div class="text-main" style="padding: 10px; background-color: #25274d;">
                <h5 class="text-main">Delete Owner Account</h5>
                <button type="button" class="delete-owner btn btn-danger md-2" onclick="return confirm('Are You Sure You Want To Delete Your Account?')">Delete</button>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="modal fade" id="modal-system-date" tabindex="-1" aria-labelledby="detailsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-negative" id="detailsLabel">Set System Date</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ modal_messages() }}
                    <p>Date:  <input type="date" id="set-date" name="set-date"></p>
                    <a class="nav-item" href="/account">
                        <button type="button" class="set-date btn btn-danger me-2" data-dismiss="modal" aria-label="Close">Set Date</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock content %}
{% block scripts %}
<script>
    $(function () {
        $(".set-date").click(function () {
            var set_date = $(this).parents("div").find("#set-date").val();
            $.ajax({
                url: "/set_system_date",
                type: 'POST',
                data: {set_date: set_date},
                success: function() {
                    window.location.reload();
                }
            });
        });
    });
</script>
<script>
    $(function () {
        $(".delete-owner").click(function () {
            $.ajax({
                url: "/remove_owner",
                success: function() {
                    window.location.reload();
                }
            });
        });
    });
</script>
<script>
    $(function () {
        $(".delete-customer").click(function () {
            $.ajax({
                url: "/remove_customer",
                success: function() {
                    window.location.reload();
                }
            });
        });
    });
</script>
{% endblock scripts %}