<!DOCTYPE html>

<html>

<head>

</head>

<body>
    <h3>hello!</h3>
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>First_Name</th>
                <th>Last_Name</th>
                <th>Pass</th>
            </tr>
        </thead>

        <tbody>
            {% for row in table_data %}
            <tr>
                <td> {{ row.Email }} </td>
                <td> {{ row.First_Name }} </td>
                <td> {{ row.Last_Name }} </td>
                <td> {{ row.Pass }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>